################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XUnitTestsAndCodeCoverageForNetCore2.Demo
/Application/obj
/Application/bin/Debug/netstandard2.0
/Application.UnitTests/obj
/Application.UnitTests/bin/Debug/netcoreapp2.1
/.vs/config
