################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XUnitTestsAndCodeCoverageForNetCore2.Demo
